<div class="shared">
  <%= render "shared/profile" %>

  <div class="account-profile">
    <div class="profile-image">
      <%= form_for @user,url:basis_path(current_user), method: :put do |f| %>
        <% if @user.image? %>
          <%= image_tag @user.image.thumb.url, class: 'icon' %>
        <% else %>
          <%= image_tag "/assets/default1.jpg", class: 'icon', :size => '100x100'  %>
        <% end %>
    </div>

    <ul>
      <div class="field">
        <li><%= f.label :image, "アイコン画像"%></li>
        <li><%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png' %></li>
      </div>

      <div class="field">
        <li><%= f.label :name, "名前" %></li>
        <li><%= f.text_field :name %></li>
      </div>

      <div class="field">
        <li><%= f.label :profile, "自己紹介" %></li>
        <li><%= f.text_area :profile %></li>
      </div>
    </ul>

    <div class="field_submit"><%= f.submit "更新" %></div>
    <% end %>
  </div>
</div>
